.soft-menu-item {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;

  >.soft-menu-item-label {
    transition: color .2s, background-color .2s;
    -webkit-transition: color .2s, background-color .2s;
    -moz-transition: color .2s, background-color .2s;

    &.menu-disabled {
      cursor: default;
    }

    .soft-menu-item-label-text {
      .soft-menu-item-label-flex {
        display: flex;
        align-items: center;

        .soft-item-icon {
          margin-right: 5px;
        }
      }
    }
  }

  >.soft-menu-item-children {
    width: 100%;
    z-index: 999;

    &.normal-width {
      width: auto;
    }
  }

  &.soft-menu-item-vertical {
    &.normal-width {
      width: 100%;
    }

    >.soft-menu-item-label {
      display: inline-table;
      padding: 0.65rem 0.3rem;
      width: 100%;

      .soft-menu-item-label-text,
      .soft-item-arrow {
        display: table-cell;
        vertical-align: middle;
      }

      .soft-menu-item-label-text {
        width: 100%;
      }

      .soft-item-arrow {
        width: 1%;

        &.menu-collapse-arrow {
          display: block;
        }
      }

      &.menu-padding-right {
        padding-right: 1rem;
      }
    }

    &.collapse-width {
      width: auto;

      >.soft-menu-item-label {
        width: auto;
        display: flex;
        align-items: center;

        .soft-menu-item-label-text {
          display: block;
        }
      }
    }

    >.soft-menu-item-children {
      padding-left: 1rem;

      &.right-position {
        padding-left: 0;
        position: absolute;
        top: 0;
        left: 100%;
      }
    }

    &.collapse-show-icon {
      position: relative;

      >.soft-menu-item-children {
        padding-left: 0;
        position: absolute;
        left: 2rem;
        top: 0;
      }
    }
  }

  &.soft-menu-item-horizontal {
    position: relative;
    display: block;

    >.soft-menu-item-label {
      display: flex;
      align-items: center;
      padding: 0.3rem 0.8rem;

      .soft-item-arrow {
        margin-left: 1rem;
      }
    }

    >.soft-menu-item-children {
      position: absolute;
      left: 0;
    }
  }
}
