<h2>Table</h2>
<h3>Basic</h3>
<soft-table [list]="list">
  <soft-table-column [label]="'Id'" [key]="'Id'"></soft-table-column>
  <soft-table-column [label]="'Name'" [key]="'Name'"></soft-table-column>
  <soft-table-column [label]="'Age'" [key]="'Age'"></soft-table-column>
  <soft-table-column [label]="'Address'" key="Address"></soft-table-column>
  <soft-table-column [label]="'Id'" [key]="'Id'"></soft-table-column>
  <soft-table-column [label]="'Name'" [key]="'Name'"></soft-table-column>
  <soft-table-column [label]="'Age'" [key]="'Age'"></soft-table-column>
  <soft-table-column [label]="'Address'" key="Address"></soft-table-column>
  <soft-table-column [label]="'Id'" [key]="'Id'"></soft-table-column>
  <soft-table-column [label]="'Name'" [key]="'Name'"></soft-table-column>
  <soft-table-column [label]="'Age'" [key]="'Age'"></soft-table-column>
  <soft-table-column [label]="'Address'" key="Address"></soft-table-column>
  <soft-table-column [label]="'Id'" [key]="'Id'"></soft-table-column>
  <soft-table-column [label]="'Name'" [key]="'Name'"></soft-table-column>
  <soft-table-column [label]="'Age'" [key]="'Age'"></soft-table-column>
  <soft-table-column [label]="'Address'" key="Address"></soft-table-column>
  <soft-table-column [label]="'Id'" [key]="'Id'"></soft-table-column>
  <soft-table-column [label]="'Name'" [key]="'Name'"></soft-table-column>
  <soft-table-column [label]="'Age'" [key]="'Age'"></soft-table-column>
  <soft-table-column [label]="'Address'" key="Address"></soft-table-column>
  <soft-table-column [label]="'Id'" [key]="'Id'"></soft-table-column>
  <soft-table-column [label]="'Name'" [key]="'Name'"></soft-table-column>
  <soft-table-column [label]="'Age'" [key]="'Age'"></soft-table-column>
  <soft-table-column [label]="'Address'" key="Address"></soft-table-column>
  <soft-table-column [label]="'Id'" [key]="'Id'"></soft-table-column>
  <soft-table-column [label]="'Name'" [key]="'Name'"></soft-table-column>
  <soft-table-column [label]="'Age'" [key]="'Age'"></soft-table-column>
  <soft-table-column [label]="'Address'" key="Address"></soft-table-column>
  <soft-table-column [label]="'Id'" [key]="'Id'"></soft-table-column>
  <soft-table-column [label]="'Name'" [key]="'Name'"></soft-table-column>
  <soft-table-column [label]="'Age'" [key]="'Age'"></soft-table-column>
  <soft-table-column [label]="'Address'" key="Address"></soft-table-column>
</soft-table>
<html-bind url="/table/basic-html.md" language="html"></html-bind>

<h3>multi-row title</h3>
<soft-table [list]="list">
  <soft-table-column [label]="'Id'" [key]="'Id'"></soft-table-column>
  <soft-table-column [label]="'Name'" [key]="'Name'"></soft-table-column>
  <soft-table-column [label]="'Age'" [key]="'Age'"></soft-table-column>
  <soft-table-column [label]="'Address'" key="Address">
    <soft-table-column [label]="'Add1'" key="Address1"></soft-table-column>
    <soft-table-column label="Add2" key="Address2"></soft-table-column>
  </soft-table-column>
</soft-table>
<html-bind url="/table/multi-title-html.md" language="html"></html-bind>

<h3>Summary</h3>
<soft-table [list]="list" [hasSummary]="true">
  <soft-table-column [label]="'Id'" [key]="'Id'"></soft-table-column>
  <soft-table-column [label]="'Name'" [key]="'Name'" [sortable]="true"></soft-table-column>
  <soft-table-column [label]="'Age'" [summary]="'Age'" [key]="'Age'"></soft-table-column>
</soft-table>
<html-bind url="/table/summary-html.md" language="html"></html-bind>

<h3>Row class</h3>
<soft-table [list]="list" [rowClassName]="getRowClassName">
  <soft-table-column [label]="'Id'" [key]="'Id'"></soft-table-column>
  <soft-table-column [label]="'Name'" [key]="'Name'" [sortable]="true"></soft-table-column>
  <soft-table-column [label]="'Age'" [key]="'Age'"></soft-table-column>
</soft-table>
<html-bind url="/table/row-class-html.md" language="html"></html-bind>
<html-bind url="/table/row-class-component.md" language="typescript"></html-bind>

<h3>Action Template</h3>
<soft-table [list]="list" [hasAction]="true" actionLabel="Action" actionWidth="150px">
  <soft-table-column [label]="'Id'" [key]="'Id'"></soft-table-column>
  <soft-table-column [label]="'Name'" [key]="'Name'"></soft-table-column>
  <soft-table-column [label]="'Age'" [key]="'Age'"></soft-table-column>
  <soft-table-column [label]="'Address'" key="Address"></soft-table-column>
  <ng-template #action let-item="item">
    <soft-button [size]="'mini'">Edit</soft-button>
    <soft-button size="mini" [color]="'danger'">Remove</soft-button>
  </ng-template>
</soft-table>
<html-bind url="/table/action-template-html.md" language="html"></html-bind>

<h3>Subtitle Template</h3>
<soft-table [list]="list">
  <ng-template #subtitle>
    <soft-button>Add</soft-button>
  </ng-template>
  <soft-table-column [label]="'Id'" [key]="'Id'"></soft-table-column>
  <soft-table-column [label]="'Name'" [key]="'Name'" [sortable]="true"></soft-table-column>
  <soft-table-column [label]="'Age'" [summary]="'Age'" [key]="'Age'"></soft-table-column>
</soft-table>
<html-bind url="/table/subtitle-template-html.md" language="html"></html-bind>

<h3>Check All</h3>
<soft-table [list]="list" [title]="'CheckAll'" [hasCheckbox]="true">
  <soft-table-column [label]="'Id'" [key]="'Id'"></soft-table-column>
  <soft-table-column [label]="'Name'" [key]="'Name'" [sortable]="true"></soft-table-column>
  <soft-table-column [label]="'Age'" [summary]="'Age'" [key]="'Age'"></soft-table-column>
</soft-table>
<html-bind url="/table/has-checkbox-html.md" language="html"></html-bind>

<h3>Pager & Footer</h3>
<soft-table [list]="list">
  <ng-template #pagerTemplate>
    <soft-pagination [currentPage]="pager.currentPage" [pageSize]="pager.pageSize" [total]="pager.total" [layout]="'left-right'" [prevText]="'上一页'" [firstText]="'第一页'"
      [nextText]="'下一页'" [lastText]="'最后一页'" [totalPageTitle]="'共 {2} 条 本页显示第 {0} 到 {1} 条'"></soft-pagination>
  </ng-template>
  <ng-template #footer>
    <soft-button size="small" color="success">Footer</soft-button>
  </ng-template>
  <soft-table-column [label]="'Id'" [key]="'Id'"></soft-table-column>
  <soft-table-column [label]="'Name'" [key]="'Name'" [sortable]="true"></soft-table-column>
  <soft-table-column [label]="'Age'" [summary]="'Age'" [key]="'Age'"></soft-table-column>
</soft-table>
<html-bind url="/table/pager-footer-template-html.md" language="html"></html-bind>
<html-bind url="/table/pager-footer-template-component.md" language="typescript"></html-bind>