<h2>Radio</h2>
<h3>Basic</h3>
<soft-radio [value]="1" label="Radio1" name="g1" [(ngModel)]="model"></soft-radio>
<soft-radio [value]="2" label="Radio2" name="g1" [(ngModel)]="model"></soft-radio>
<html-bind url="/radio/basic-html.md" language="html"></html-bind>

<h3>Sizings</h3>
<soft-radio [value]="1" label="mini" name="g2" [(ngModel)]="sizeModel" size="mini"></soft-radio>
<soft-radio [value]="2" label="small" name="g2" [(ngModel)]="sizeModel" size="small"></soft-radio>
<soft-radio [value]="3" label="default" name="g2" [(ngModel)]="sizeModel"></soft-radio>
<soft-radio [value]="4" label="large" name="g2" [(ngModel)]="sizeModel" size="large"></soft-radio>
<html-bind url="/radio/sizing-html.md" language="html"></html-bind>